/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* box-sizing: border-box; */
}

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("/path-to-your-car-image.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

/* Header */
.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(0, 0, 0, 0.7);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.user-auth .auth-button {
  padding: 10px 20px;
  background-color: #f04f47;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-auth .auth-button:hover {
  background-color: #c03c38;
}

/* Landing Content */
.landing-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-content h1 {
  font-size: 3rem;
  margin: 0;
}

.text-content h1 span {
  color: #f04f47;
  font-weight: bold;
}

.action-buttons {
  margin-top: 20px;
}

.action-button {
  padding: 15px 40px;
  margin: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f04f47;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #c03c38;
}

/* Footer */
.landing-footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

